<script type="text/javascript">
  $(document).ready(function(){
      $(".rating").rating('disable');
      $('.caret.down').transition('set looping').transition('bounce', '2000ms');
  });
</script>

<div class="cover"></div>

<div id="wrapper">
  <h1>Hotel Reviews</h1>
    <br>
  <h2 class="center aligned">Find the best hotels by reading other reviews.</h2>
    <br>
  <i class="big caret down icon"></i>
</div>

<br>

<div class="ui large red tag label">Found <%= number_with_delimiter(@hotels.total_entries, :delimiter => ",") %> hotel reviews!</div>

<br>

<% if @hotels.size == 0 %>
  <div class="ui fluid card">
    <div class="content">
      <h1 class="center aligned header">No hotel reviews found.</h1>
    </div>
  </div>
<% else %>
  <% @hotels.each do |hotel| %>
    <div class="ui fluid card">
      <div class="content">
        <div class="ui teal ribbon label">
          <h1 class="header"><i class="hotel icon"></i> <%= hotel.name %></h1>
          <div class="meta"><%= hotel.address %></div>
          <div class="meta"><%= hotel.city %></div>
        </div>
        <div class="description">
          <p><%= hotel.review.title %></p>
          <p><%= truncate(hotel.review.text, length: 250) %></p>
        </div>
        </div>
        <div class="extra content">
          <div class="ui large label">Rating: <div class="ui star rating" data-rating="<%= hotel.review.rating %>" data-max-rating="5"></div></div>
          <%= link_to semantic_icon('clipboard')+'Show more', hotel, class: 'ui right floated teal button' %>
        </div>
    </div>
  <% end %>
<% end %>

<div class="center aligned"><%= will_paginate @hotels, renderer: WillPaginateSemanticUi::ActionView::Renderer %></div>