<script type="text/javascript">
  $(document).ready(function(){
      $(".rating").rating('disable');
  });
</script>

<div class="cover"></div>

<p id="notice"><%= notice %></p>

<h1 id="top">Information</h1>

<br>

  <div class="ui fluid card">
    <div class="content">
      <div class="ui fluid teal ribbon label">
        <h1 class="center aligned header"><i class="hotel icon"></i> <%= @hotel.name %></h1>
        <div class="center aligned meta"><%= @hotel.address %></div>
        <div class="center aligned meta"><%= @hotel.city %></div>
      </div>
      <div id="map"></div>
      <script>
        function initMap() {
          var uluru = {lat: <%= @hotel.latitude %>, lng: <%= @hotel.longitude %>};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFPP84MF3L9WqW4jcu5fAv709snqLSitg&callback=initMap">
      </script>
      <div class="ui divider"></div>
      <div class="description">
        <p><%= @hotel.review.title %></p>
        <p><%= @hotel.review.text %></p>
      </div>
    </div>
    <div class="extra content">
      <div class="ui large label">Rating: <div class="ui star rating" data-rating="<%= @hotel.review.rating %>" data-max-rating="5"></div></div>
    </div>
    <div class="content">
    <h3 class="ui header"><i class="comment icon"></i> Comments:</h3>
    <div class="ui fluid teal label">
      <% if @hotel.comment == nil  %>
        <div class="description">
          <p class="center aligned">No comments found.</p>
        </div>
      <% else %>
        <div class="description">
          <p>Name: <%= @hotel.comment.name %></p>
          <p>Description: <%= @hotel.comment.description %></p>
        </div>
      <% end %>
    </div>
    <div class="ui divider"></div>
    <%= render 'form', hotel: @hotel %>
    <div class="ui divider"></div>
    <%= link_to semantic_icon('left chevron')+'Back', hotels_path, class: 'fluid ui teal button' %>
    </div>
  </div>