<script type="text/javascript">
  $(document).ready(function(){
      $(".rating").rating('disable');
  });
</script>

<div class="cover"></div>

<h1>Information</h1>

<br>
  <div class="ui fluid card">
    <div class="content">
      <div class="center aligned header"><%= @hotel.name %></div>
      <div class="center aligned meta"><%= @hotel.address %></div>
      <div class="center aligned meta"><%= @hotel.city %></div>
      <div id="map"></div>
      <script>
        function initMap() {
          var uluru = {lat: <%= @hotel.latitude %>, lng: <%= @hotel.longitude %>};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFPP84MF3L9WqW4jcu5fAv709snqLSitg&callback=initMap">
      </script>
      <div class="ui divider"></div>
      <div class="description">
        <p><%= @hotel.review.title %></p>
        <p><%= @hotel.review.text %></p>
      </div>
    </div>
    <div class="extra content">
      Rating: <div class="ui star rating" data-rating="<%= @hotel.review.rating %>" data-max-rating="5"></div>
    </div>
  </div>

  <br>
  
  <%= link_to 'Back', hotels_path, class: 'fluid ui blue button' %>